.home-imkon1 {}

.home-imkon1-wrapper {
    padding: 18px 0 50px 0;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.home-imkon1-left {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;

    p {
        color: rgb(86, 88, 94);
        font-family: Michroma;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        text-transform: capitalize;
    }
}

.home-imkon1-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #184AFB;
}

.home-imkon1-right {}

.home-imkon1-right-title {
    margin-bottom: 20px;

    h2 {
        color: rgb(46, 48, 56);
        font-family: Poppins600;
        font-size: 26px;
        line-height: 30px;
        text-align: left;
        text-transform: uppercase;
    }
}

.home-imkon1-right-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-imkon1-right-card {
    padding: 0 38px 20px 0;
}

.home-imkon1-right-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background: rgb(245, 245, 245);
    margin-bottom: 20px;
}

.home-imkon1-right-card-text {
    p {
        color: rgba(46, 48, 56, 0.6);
        font-family: Michroma;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
    }
}

@media (min-width:700px) {
    .home-imkon1-right-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 65px;
    }

    .home-imkon1-right-card {
        width: 45%;
    }
}


@media (min-width:1000px) {

    .home-imkon1-wrapper {
        padding: 18px 0 120px 0;
    }

    .home-imkon1-right-title {
        margin-bottom: 120px;
    }

    .home-imkon1-wrapper {
        display: flex;
        align-items: start;
        gap: 60px;
    }

    .home-imkon1-right-title {

        h2 {
            font-size: 36px;
            line-height: 45px;
        }
    }
}

@media (min-width:1300px) {
    .home-imkon1-wrapper {
        gap: 160px;
    }
}