    .home-team {}

    .container {}

    .home-team-wrapper {
        padding: 18px 0 50px 0;
        border-bottom: 1px solid rgb(204, 204, 204);
    }

    .home-team-left {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;


        p {
            color: rgb(86, 88, 94);
            font-family: Michroma;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            text-transform: capitalize;
        }
    }

    .home-part2-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #184AFB;
    }

    .home-team-right {}

    .home-team-right-top {}

    .home-team-right-title {
        margin-bottom: 20px;

        h2 {
            color: rgb(46, 48, 56);
            font-family: Poppins600;
            font-size: 26px;
            line-height: 30px;
            text-align: left;
            text-transform: uppercase;
        }
    }

    .home-team-right-link {

        width: 190px;
        padding: 8px 0;
        color: rgb(24, 74, 251);
        font-family: Poppins400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1%;
        text-align: left;
        text-transform: capitalize;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 20px;
        background: rgb(255, 255, 255);
    }

    .home-team-right-avatars {}

    .home-team-right-bottom-avatar {}

    .home-team-bottom {}

    .home-team-bottom-left {}

    .home-team-bottom-right {}

    .home-team-bottom-left-title {}

    .home-team-bottom-left-text-link {}

    .home-team-bottom-left-text {}

    .home-team-bottom-left-link {}